<main class="main">
  <header></header>
  <div class="content">
    <div class="filters-container">
      <div class="filters-wrapper">
        <div class="filter-item">
          <p class="filter-name">Frontend</p>
          <button class="remove-filter-btn"></button>
        </div>
        <div class="filter-item">
          <p class="filter-name">Frontend</p>
          <button class="remove-filter-btn"></button>
        </div>
        <div class="filter-item">
          <p class="filter-name">Frontend</p>
          <button class="remove-filter-btn"></button>
        </div>
        <div class="filter-item">
          <p class="filter-name">Frontend</p>
          <button class="remove-filter-btn"></button>
        </div>
        <div class="filter-item">
          <p class="filter-name">Frontend</p>
          <button class="remove-filter-btn"></button>
        </div>
        <div class="filter-item">
          <p class="filter-name">Frontend</p>
          <button class="remove-filter-btn"></button>
        </div>
        <div class="filter-item">
          <p class="filter-name">Frontend</p>
          <button class="remove-filter-btn"></button>
        </div>
      </div>
      <button class="filter-clear-btn">Clear</button>
    </div>
    <div class="list-container">
      <div class="list-wrapper">
        <div class="list-item new-item">
          <div class="list-item-container">
            <div class="left-side">
              <div class="avatar-img-container">
                <img
                  class="avatar-img"
                  src="../assets/images/photosnap.svg"
                  alt=""
                />
              </div>
              <div class="item-info">
                <div class="item-details-tags">
                  <span class="item-company-name">Photosnap</span>
                  <span class="item-new-tag">NEW!</span>
                  <span class="item-featured-tag">FEATURED</span>
                </div>
                <h2 class="item-position-name">Senior Frontend Developer</h2>
                <div class="item-details-position">
                  <span class="item-time">1d ago</span>
                  <span class="item-workload">Full Time</span>
                  <span class="item-workplace">USA only</span>
                </div>
              </div>
            </div>
            <div class="item-tablets">
              <span class="item-tablet"> Frontend </span>
              <span class="item-tablet"> Senior </span>
              <span class="item-tablet"> HTML </span>
              <span class="item-tablet"> CSS </span>
              <span class="item-tablet"> JavaScript </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
